{{template "layout" .}}
{{define "main"}}

<div class="container">
    <form action="/proses" method="post">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="masukan nama">
        
        <label for="">Message</label>
        <input type="text" name="message" placeholder="masukan pesan">
        
        <input type="submit" value="kirim">
    </form>
</div>
<div class="text">
<h1 style="color: brown;"> {{ .ID }}{{ .Name }} - {{ .Price }}  {{.StockStatus}}</h1>
</div>
{{ end }}